body {
	margin: 0;
	padding: 0;
	background: url(img/pesok.jpg);
}

.cler {
	clear: both;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
}
		
#header {
	header: 130px;
	background: grey;
	overflow: scroll;
	padding-top: 15px;
	border-radius: 10px; 
}
		
#header h1 {
	text-align: center;
	font-size: 35px;
	margin-top: 15px;
}		

.menu {
	background: pink;
}

.menu ul {
	margin-left: -45px;
}

.menu li {
	float: left;
	list-style: none;
	width: 150px;
	height: 50px;
	padding-top: 15px;
	margin-left: 50px;
	background: gold;
	border-radius: 10px 0; 
	border-style: solid;
}

.menu li:hover {
	margin-top: 5px;
}
		
#content {
	margin-top: 10px;
	margin-bottom: 10px;
}
		
#left {
	height: 500px;
	width: 600px;
	background: cyan;
	float: left;
	margin-left: 10px;
}
  
#left_1 {
	margin-bottom: 10px;
    border: 1px solid #000;
    height: 200px;
    background: lime;
	float: left;
}
	
#left_1 img {
	padding: 10px;
}
		
#left_2 {
	width: 300px;
	height: 290px;
    background: lime;
	float: left;
}
  
#right {
	margin-left: 610px;
	height: 500px;
	background: orange;
}

#footer {
	height: 80px;
	background: green;
}
	   
	 